.item {
  border-bottom: 1px solid #e8e8ea;
  font-size: 1rem;
  padding: 18px 0px;
  margin-left: 24px;
  margin-right: 24px;
}

.trigger {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: calc(16rem / 16);
  color: #4b4c5f;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  transition: color 50ms ease-in;
}

.trigger:hover {
  color: #f47b56;
  cursor: pointer;
  transition: color 250ms ease-out;
}

.trigger[data-state='open'] {
  font-weight: 700;
  color: #1e1f36;
  padding-bottom: 12px;
}

.trigger[data-state='open'] > .svg {
  transform: rotate(180deg);
}

.svg {
  transition: transform 350ms;
  margin-left: 8px;
}

.content {
  color: #4b4c5f;
  overflow: hidden;
}

.content[data-state='open'] {
  animation: slideDown 350ms ease-out;
}

.content[data-state='closed'] {
  animation: slideUp 350ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@media (min-width: 64rem) {
  .item {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    width: 400px;
  }
}
